# Configuration created by Apache Sling JCR Installer
operation="add"
aces=["type\=allow;privileges\=jcr:read,jcr:all,rep:write;path\=/content","type\=allow;privileges\=jcr:all,jcr:read,jcr:write,rep:write;path\=/content","type\=allow;privileges\=jcr:read;path\=/apps","type\=allow;privileges\=jcr:read;path\=/conf"]
principalName="geekstutorials/geeks-tutorials-service-user"
type="add"
ensure-immediately=B"true"
