    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
<sly data-sly-resource="${@path='topbar', resourceType='geekstutorials/components/global/topbar'}"></sly>
<section>
	<sly data-sly-resource="${@path='leftsidebar', resourceType='geekstutorials/components/global/leftnav'}"></sly>
    <sly data-sly-resource="${@path='rightsidebar', resourceType='geekstutorials/components/global/rightnav'}"></sly>
</section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    <sly data-sly-resource="${@path='title', resourceType='geekstutorials/components/title'}"></sly>
                </h2>
            </div>
            <sly data-sly-resource="${@path='parsys', resourceType='wcm/foundation/components/parsys'}"></sly>
        </div>
    </section>